{% extends "base.html" %}
{% block title %}View 3{% endblock %}

{% block content %}
<div class="container">
  <br>
  <h3>View 3</h3>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">UF</th>
        <th scope="col">ID Número</th>
        <th scope="col">Descrição</th>
        <th scope="col">Tempo de Fidelidade (Ano-Mês)</th>
      </tr>
    </thead>
    <tbody>
      {% for linha in view3 %}
      <tr>
        <th scope="row">{{linha[0]}}</th>
        <td>{{linha[1]}}</td>
        <td>{{linha[2]}}</td>
        <td>{{linha[3]}}</td>
        <td>{{linha[4]}}</td>
        <td>{{linha[5]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}